@{
    ViewBag.Title = "About";
}

<body style="background-color:lightblue">

    <h3>@ViewBag.Title.</h3>
    @*<h3>@ViewBag.Message</h3>*@

    <h3>Savings and Investing are more simple.</h3>

</body>