@{
    ViewBag.Title = "Contact";
}

<body style="background-color:lightblue">

    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <address>
       WeBank<br />
        Siruseri,chennai<br />
        <abbr title="Phone">PH:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">WeBank@Support.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">WeBank@onlineSupport.com</a>
    </address>
