@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:lightblue">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }


        marquee {
            font-size: 30px;
            font-weight: 800;
            color: deeppink;
            font-family: sans-serif;
        }

        sub {
            vertical-align: sub;
            font-size: smaller;
            color: black;
            font-size: 15px;
        }
    </style>


    <marquee>
        <p>
            WeBank
            <sub>Saving and investing are made simple </sub>
        </p>
    </marquee>

    <div class="w3-container">
        <h1 > <b> Welcome 
             <b style="color:palevioletred">@HttpContext.Current.User.Identity.Name</b></b></h1>
        <p> </p>
    </div>

    <div class="w3-content w3-display-container">

        <div class="w3-display-container mySlides">
            <img src="~/Images/img6.png" style="width:150%" height="400">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                WeBank
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <img src="~/Images/img7.png" style="width:150%" height="400">
            <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
                WeBank
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <img src="~/Images/img8.jpg" style="width:150%" height="400">
            <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                WeBank
            </div>
        </div>

        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>


</body>